/*.App {*/
/*  display: inline-block;*/
/*  margin-left: 350px;*/
/*  margin-top: 50px;*/
/*  padding: 50px;*/
/*  width: 200px;*/
/*  text-align: center;*/
/*  border: solid 2px;*/
/*  border-color: darkslategrey;*/
/*  background-color: aliceblue;*/
/*  font-size: 15px;*/
/*}*/

/*.count {*/
/*  color: red;*/
/*  border: darkslategrey;*/
/*}*/
/*.buttonIncr {*/
/*  display: inline-block;*/
/*  width: 50px;*/
/*  height: 30px;*/
/*  margin: 10px;*/
/*  background-color: cadetblue;*/
/*  border-color: cadetblue;*/
/*  font-size: 17px*/
/*}*/
/*.buttonReset {*/
/*  display: inline-block;*/
/*  width: 50px;*/
/*  height: 30px;*/
/*  margin: 10px;*/
/*  background-color: cadetblue;*/
/*  border-color: cadetblue;*/
/*  font-size: 17px*/
/*}*/